<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" />
        <httpRuntime />
    </system.web>
    <appSettings>
        #DataSourceSettings#
        #LocalDataSource: Parks
        #BEGIN#
        <data-source source="LOCAL" name="Parks" uuid="1a7f649f-39cd-449d-bc4a-dd9cbe2157c5">
            <database-info product="Microsoft SQL Server" version="14.00.2037" jdbc-version="3.0"
                           driver-name="jTDS Type 4 JDBC Driver for MS SQL Server and Sybase" driver-version="1.3.1"
                           dbms="MSSQL" exact-version="14.0.2037" exact-driver-version="1.3">
                <extra-name-characters>$#@</extra-name-characters>
                <identifier-quote-string>&quot;</identifier-quote-string>
            </database-info>
            <case-sensitivity plain-identifiers="mixed" quoted-identifiers="mixed" />
            <driver-ref>sqlserver.jtds</driver-ref><synchronize>true</synchronize>
            <jdbc-driver>net.sourceforge.jtds.jdbc.Driver</jdbc-driver>
            <jdbc-url>jdbc:jtds:sqlserver://localhost</jdbc-url><secret-storage>master_key</secret-storage>
            <auth-provider>ms-sso</auth-provider><user-name>Egor</user-name>
            <schema-mapping>
                <introspection-scope>
                    <node kind="database" qname="@">
                        <node kind="schema" qname="@" />
                    </node>
                </introspection-scope>
            </schema-mapping>
            <working-dir>$ProjectFileDir$</working-dir>
        </data-source>
        #END#


    </appSettings>
</configuration>